<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.riverify.school.mapper.SchoolStudentMapper">

    <resultMap type="SchoolStudent" id="SchoolStudentResult">
        <result property="sid" column="sid"/>
        <result property="studentId"    column="student_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="studentMajor"    column="student_major"    />
        <result property="studentClassname" column="student_classname"/>
        <result property="studentTeacher"    column="student_teacher"    />
        <result property="studentCategory"    column="student_category"    />
        <result property="studentCampus"    column="student_campus"    />
        <result property="studentDay"    column="student_day"    />
        <result property="studentSession"    column="student_session"    />
        <result property="studentClassroom"    column="student_classroom"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSchoolStudentVo">
        select sid,
               student_id,
               student_name,
               student_major,
               student_classname,
               student_teacher,
               student_category,
               student_campus,
               student_day,
               student_session,
               student_classroom,
               status
        from school_student
    </sql>

    <select id="selectSchoolStudentList" parameterType="SchoolStudent" resultMap="SchoolStudentResult">
        <include refid="selectSchoolStudentVo"/>
        <where>
            <if test="studentId != null  and studentId != ''">and student_id like concat('%', #{studentId}, '%')</if>
            <if test="studentName != null  and studentName != ''">and student_name like concat('%', #{studentName},
                '%')
            </if>
            <if test="studentMajor != null  and studentMajor != ''">and student_major like concat('%', #{studentMajor},
                '%')
            </if>
            <if test="studentClassname != null  and studentClassname != ''">and student_classname like concat('%',
                #{studentClassname}, '%')
            </if>
            <if test="studentTeacher != null  and studentTeacher != ''">and student_teacher like concat('%',
                #{studentTeacher}, '%')
            </if>
            <if test="studentCategory != null  and studentCategory != ''">and student_category like concat('%',
                #{studentCategory}, '%')
            </if>
            <if test="studentCampus != null  and studentCampus != ''">and student_campus like concat('%',
                #{studentCampus}, '%')
            </if>
            <if test="studentDay != null ">and student_day = #{studentDay}</if>
            <if test="studentSession != null ">and student_session = #{studentSession}</if>
            <if test="studentClassroom != null  and studentClassroom != ''">and student_classroom like concat('%',
                #{studentClassroom}, '%')
            </if>
            <if test="status != null  and status != ''">and status = #{status}</if>
        </where>
    </select>

    <select id="selectSchoolStudentBySid" parameterType="Long" resultMap="SchoolStudentResult">
        <include refid="selectSchoolStudentVo"/>
        where sid = #{sid}
    </select>

    <insert id="insertSchoolStudent" parameterType="SchoolStudent" useGeneratedKeys="true" keyProperty="sid">
        insert into school_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_id,</if>
            <if test="studentName != null and studentName != ''">student_name,</if>
            <if test="studentMajor != null and studentMajor != ''">student_major,</if>
            <if test="studentClassname != null and studentClassname != ''">student_classname,</if>
            <if test="studentTeacher != null and studentTeacher != ''">student_teacher,</if>
            <if test="studentCategory != null and studentCategory != ''">student_category,</if>
            <if test="studentCampus != null">student_campus,</if>
            <if test="studentDay != null">student_day,</if>
            <if test="studentSession != null">student_session,</if>
            <if test="studentClassroom != null">student_classroom,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="studentName != null and studentName != ''">#{studentName},</if>
            <if test="studentMajor != null and studentMajor != ''">#{studentMajor},</if>
            <if test="studentClassname != null and studentClassname != ''">#{studentClassname},</if>
            <if test="studentTeacher != null and studentTeacher != ''">#{studentTeacher},</if>
            <if test="studentCategory != null and studentCategory != ''">#{studentCategory},</if>
            <if test="studentCampus != null">#{studentCampus},</if>
            <if test="studentDay != null">#{studentDay},</if>
            <if test="studentSession != null">#{studentSession},</if>
            <if test="studentClassroom != null">#{studentClassroom},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateSchoolStudent" parameterType="SchoolStudent">
        update school_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="studentName != null and studentName != ''">student_name = #{studentName},</if>
            <if test="studentMajor != null and studentMajor != ''">student_major = #{studentMajor},</if>
            <if test="studentClassname != null and studentClassname != ''">student_classname = #{studentClassname},</if>
            <if test="studentTeacher != null and studentTeacher != ''">student_teacher = #{studentTeacher},</if>
            <if test="studentCategory != null and studentCategory != ''">student_category = #{studentCategory},</if>
            <if test="studentCampus != null">student_campus = #{studentCampus},</if>
            <if test="studentDay != null">student_day = #{studentDay},</if>
            <if test="studentSession != null">student_session = #{studentSession},</if>
            <if test="studentClassroom != null">student_classroom = #{studentClassroom},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where sid = #{sid}
    </update>

    <delete id="deleteSchoolStudentBySid" parameterType="Long">
        delete
        from school_student
        where sid = #{sid}
    </delete>

    <delete id="deleteSchoolStudentBySids" parameterType="String">
        delete from school_student where sid in
        <foreach item="sid" collection="array" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </delete>
</mapper>